<div class="">
  Monolith Dashboard
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed illo vero enim
    itaque repellendus minima mollitia incidunt aspernatur nobis at molestiae
    velit atque nihil voluptas, laboriosam exercitationem reprehenderit,
    repudiandae in.
  </p>
  <a href="/dashboard" class="btn btn-sm btn-dark">Go to Dashboard</a>
</div>
