<div class="px-0 py-4">
  <a href="/dashboard/post/create" class="btn btn-large btn-success"
    >Create Post</a
  >
</div>
<div class="list-group">
  <h1><%= data[0].Post %></h1>
  <h1><%= data[0].Visitor %></h1>
  <h1><%= data[0].Reader %></h1>
</div>
